.background-icon3,
.image-23-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1112px;
  object-fit: cover;
}
.image-23-icon {
  top: 332px;
  border-radius: 0 var(--br-18xl) var(--br-18xl) 0;
  width: 494px;
  height: 586px;
}
.logo-padrao-icon3 {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 353px;
  height: 91.01px;
  object-fit: cover;
}
.objetivo4 {
  font-weight: 900;
  font-family: var(--font-tt-mussels-trl);
}
.blank-line12 {
  margin: 0;
}
.blank-line13 {
  margin: 0;
  font-weight: 900;
}
.vantagens-o-desenvolvimento-d {
  margin: 0;
  padding-left: var(--padding-18xl);
}
.objetivo-a-rea-container3 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  display: inline-block;
  width: 1156px;
  height: 690px;
}
.cursos-de-desenvolvimento {
  margin-bottom: 0;
}
.curso-de-graduao-container {
  position: absolute;
  top: 280px;
  left: calc(50% - 639px);
  font-weight: 900;
  font-family: var(--font-inherit);
  color: var(--color-mediumblue);
  text-align: right;
  display: inline-block;
  width: 958px;
  height: 267px;
}
.icon3,
.text3 {
  position: absolute;
}
.icon3 {
  top: 486px;
  left: 168px;
  width: 137px;
  height: 137px;
  object-fit: cover;
}
.text {
  top: 280px;
  left: calc(50% - 435px);
  width: 1280px;
  height: 714px;
  font-size: 21.5px;
  color: var(--color-indigo);
}

.teste-finalizado3 {
  top: -40px;
  position: absolute;
  font-weight: 900;
  width: 800px;
  height: 89px;
  font-size: 50px;
  color: blueviolet;
}
.desenvolvimento-de-aplicativos {
  top: 10px;
  position: absolute;
  font-weight: bold;
  width: 1000px;
  height: 89px;
  font-size: 50px;
  color: blueviolet;
}
.title {
  position: absolute;
  top: 169px;
  left: calc(50% - 901px);
  width: 1453px;
  height: 158px;
  font-size: var(--font-size-41xl);
}
.group-icon3,
.r-4331ms {
  position: absolute;
  top: 12px;
  left: 65px;
}
.group-icon3 {
  height: 100%;
  width: 23.21%;
  top: 0;
  right: 76.79%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.money-text3 {
  position: absolute;
  top: 947px;
  left: 87px;
  width: 237px;
  height: 55px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkorchid);
}
.botao-voltar2,
.voltar-a-tela3 {
  position: absolute;
  top: 12px;
  left: 20px;
}
.botao-voltar2 {
  top: 32px;
  left: 1524px;
  border-radius: var(--br-31xl);
  background-color: var(--color-fuchsia-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 369px;
  height: 67px;
  overflow: hidden;
  color: var(--color-gainsboro-100);
}
.salvar-teste3 {
  position: absolute;
  top: 12px;
  left: 49px;
}

.desaplicativos-page
{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1112px;
}
.desaplicativos-page-desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-tt-mussels-trl);
}
