.background-icon4,
.image-26-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1112px;
  object-fit: cover;
}
.image-26-icon {
  top: 332px;
  border-radius: 0 var(--br-18xl) var(--br-18xl) 0;
  width: 494px;
  height: 586px;
}
.logo-padrao-icon9 {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 353px;
  height: 91.01px;
  object-fit: cover;
}
.objetivo5 {
  font-weight: 900;
  font-family: var(--font-tt-mussels-trl);
}
.objetivo-a-rea-de-segurana {
  margin: 0;
  padding-left: var(--padding-18xl);
}
.blank-line16 {
  margin: 0;
  font-weight: 900;
}
.objetivo-a-rea-container4 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  display: inline-block;
  width: 1156px;
  height: 690px;
}
.blank-line18 {
  margin: 0;
}
.treinamento-em-certificaes {
  margin-bottom: 0;
}
.curso-de-graduao-container4 {
  position: absolute;
  top: 447px;
  left: calc(50% - 318px);
  font-weight: 900;
  font-family: var(--font-inherit);
  text-align: right;
  display: inline-block;
  width: 958px;
  height: 267px;
}
.icon4 {
  position: absolute;
  top: 486px;
  left: 168px;
  width: 137px;
  height: 137px;
  object-fit: cover;
}
.text-login {
  position: absolute;
  top: 332px;
  left: calc(50% - 435px);
  width: 1280px;
  height: 714px;
  font-size: var(--font-inherit);
}
.teste-finalizado4 {
  position: absolute;
  top: 0;
  left: calc(50% - 726.5px);
  display: inline-block;
  width: 931px;
  height: 89px;
}
.segurana-de-ti,
.title5 {
  position: absolute;
  width: 1453px;
}
.segurana-de-ti {
  top: 55px;
  left: calc(50% - 726.5px);
  font-weight: 900;
  display: inline-block;
  height: 103px;
}
.title5 {
  top: 169px;
  left: calc(50% - 901px);
  height: 158px;
  font-size: var(--font-size-41xl);
}
.group-icon4,
.r3650ms {
  position: absolute;
  top: 12px;
  left: 65px;
}
.group-icon4 {
  height: 100%;
  width: 22.92%;
  top: 0;
  right: 77.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.money-text4 {
  position: absolute;
  top: 947px;
  left: 87px;
  width: 240px;
  height: 55px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkorchid);
}
.botao-voltar3,
.voltar-a-tela4 {
  position: absolute;
  top: 12px;
  left: 20px;
}
.botao-voltar3 {
  top: 32px;
  left: 1524px;
  border-radius: var(--br-31xl);
  background-color: var(--color-fuchsia-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 369px;
  height: 67px;
  overflow: hidden;
  color: var(--color-gainsboro-100);
}
.salvar-teste4 {
  position: absolute;
  top: 12px;
  left: 49px;
}

.segti-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1112px;
}
.segti-page-desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1112px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumblue);
  font-family: var(--font-tt-mussels-trl);
}
