.rectangle-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 1110px;
  object-fit: cover;
}
.rectangle-login-icon3 {
  position: absolute;
  margin-top: 30px;
  margin-left: 110px;
  border-radius: var(--br-39xl);
  object-fit: cover;
}
.background-iniciar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 910px;
}
.logo-padrao-icon7 {
  position: absolute;
  top: 987px;
  left: 779.22px;
  width: 347.54px;
  height: 89.6px;
  object-fit: cover;
}
.se-sente-empolgado-com-a-ideia {
  margin: 0;
  padding-left: var(--padding-28xl);
}
.nada-empolgado {
  margin-bottom: 0;
}
.se-sente-empolgado-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 776px;
}
.gostaria-de-aprender-container2,
.se-sente-atrado-container {
  position: absolute;
  color: var(--color-blueviolet-200);
  display: inline-block;
}
.gostaria-de-aprender-container2 {
  top: 0;
  right: 0;
  width: 799px;
}
.se-sente-atrado-container {
  top: 370px;
  left: 0;
  width: 780px;
}
.considera-emocionante-a-container {
  position: absolute;
  top: 366px;
  left: 852px;
  display: inline-block;
  width: 796px;
}
.text-test3 {
  margin: 0;
  position: absolute;
  top: 150px;
  left: 130px;
  width: 1651px;
  height: 678px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: calc(50% - 314px);
  border-radius: var(--br-mini);
  background-color: var(--color-blueviolet-100);
  width: 628px;
  height: 61px;
}
.em-uma-escala3 {
  position: absolute;
  top: 8px;
  left: calc(50% - 306px);
  font-weight: 800;
  display: inline-block;
  width: 612px;
  height: 46px;
}
.title-test3 {
  position: absolute;
  top: 30px;
  left: calc(50% - 254.41px);
  width: 628px;
  height: 61px;
  font-size: var(--font-size-16xl);
  color: var(--color-paleturquoise);
}
.continuar4,
.test-page3 {
  width: 201.31455993652344px;
  position: absolute;
  top: 898px;
  left: 852.33px;
}
.test-page3 {
  top: 2px;
  left: 0;
  width: 1800.81px;
  height: 1110px;
}
.testpage01-desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 890px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-inherit);
  color: var(--color-mediumblue);
  font-family: var(--font-tt-mussels-trl);
}

.boto-continuar {
  position: absolute;
  top: 800px;
  left: 830px;
  width: 270px;
  height: 70px;
  background-image: linear-gradient(to right, #D100FF, #DB00FF);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: var(--br-31xl);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  font-size: var(--font-size-21xl);
  font-weight: bold;

}

.boto-continuar:active{
  transform: scale(0.9);
}